:root{
    --base-color: white;
    --text-color: black;
}

body.darkmode{
    --base-color: black;
    --text-color: white;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainheader {
    display: flex;
    --text-color:var(--text-color);
    justify-content: center;
    padding: 60px;
    box-shadow: 0 2px 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background-image: url('../images/headerpic.png');
}

.menubar {
    background-color: var(--base-color);
    display: flex;
    box-shadow: 0 2px 5px;
    justify-content: center;
    padding: 15px;
    gap: 1.5rem;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.darkmodebutton{
    background-color: var(--base-color);
    color: --text-color;
    display: flex;
    box-shadow: 0 2px 5px;
    justify-content: center;
    padding: 15px;
    gap: 1.5rem;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:visited {
    color: var(--text-color);
}

a:hover {
    color: red;
}

.projects {
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 40px;
    box-shadow: 0 2px 5px;
    flex-direction: column;
}

.projectimage {
    width: 600px;
    height: auto;
}
.projectbox {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    box-shadow: 0 2px 5px;
    max-width: 1000px;
}

.projectbox:hover .projectimage {
    opacity: 0.6;
}

.about {
    display: flex;
    background-color: var(--base-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 1px 5px;
    font-size: 25px;
    text-align: center;
}

.about_section {
    display: flex;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.contact_section {
    display: flex;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.project1_text {
    display: flex;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

.project2_text {
    display: flex;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

footer {
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}